/* body {
  background-image: url('/Users/Kenneth/Desktop/cloud-jumper/src/images/pastel_sky.jpg');
  background-size: cover;
  font-family: 'Pontano Sans', sans-serif;
  margin: 0 auto;
}

.game-container {
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
}

.instructions {
  background-color: rgba(173, 216, 230, 0.7);
  width: 600px;
  height: 700px;
  color: white;
  text-align: center;

}

h3 {
  font-size: 50px;
  letter-spacing: .07em;
}

p {
  font-size: 20px;
}

#canvas {
  margin: 0 auto;
}

.canvas-container {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
}

img {
  display: none;
}

#start-btn {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  letter-spacing: .03em;
  text-transform: uppercase;
  width: 150px;
  height: 60px;
  border-radius: 200px;
  border: 1px solid pink;
  background-color: lightpink;
}

#start-btn:hover {
  background-color: white;
  color: lightpink;
  font-weight: bold;
  transition: 0.2s;
} */
