@import 'themeColors';
$theme-font:    verdana, sans-serif;

body {
  background-image: url('http://www.jakpost.travel/imgfiles/full/31/315598/pastel-sky-wallpaper.jpg');
  background-size: cover;
  font-family: 'Pontano Sans', sans-serif;
  margin: 0 auto;
}

.game-container {
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
}

.instructions {
  background-color: rgba(173, 216, 230, 0.7);
  width: 600px;
  height: 700px;
  align-items: center;
  text-align: center;
  color: white;

  h3 {
    font-family: $title-font;
    font-size: 45px;
    letter-spacing: .07em;
    background: -webkit-linear-gradient(to right, #e5b241, #52ca69, #4bcccc, #9f9ff3, #ce8ace);
    background: -o-linear-gradient(to right, #e5b241, #52ca69, #4bcccc, #9f9ff3, #ce8ace);
    background: -moz-linear-gradient(to right, #e5b241, #52ca69, #4bcccc, #9f9ff3, #ce8ace);
    background: linear-gradient(to right, #e5b241, #52ca69, #4bcccc, #9f9ff3, #ce8ace);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    position: relative;
  }

  h3:after {
      background: none;
      content: attr(data-text);
      left: 0;
      position: absolute;
      text-shadow: 3px 2px 10px rgba(0, 0, 0, 0.33);
      top: 0;
      z-index: -1;
  }

  h4 {
    font-family: $title-font;
    color: #e165e1;
    // color: #e581ff;
    font-size: 22px;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
  }

  p {
    color: #966ff5;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;

  }
  
  span {
    color: #8369c2;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
  }

  img {
    width: 30px;
    margin-left: 10%;
    margin-right: 10px;
  }

  #white-cloud {
    width: 40px;
    height: 40px;
    margin-left: 10%;
    margin-right: 0px;
  }

  ul {
    list-style: none;
    text-align: left;

    li {
      color: #966ff5;
    }
  }

}

.arrows {
  font-size: 30px;
  display: inline-block;
  margin: 0px 20px;

  .fab {
    width: 40px;
    height: 40px;
    background-color: black;
    color: blue;
  }
}

#press-start {
  color: white;
}


#canvas {
  margin: 0 auto;
}

.canvas-container {
  width: 1000px;
  height: 700px;
  margin: 0 auto;

  img {
    display: none;
  }
}

#start-btn {
  font-size: 35px;
  font-family: 'Luckiest Guy', sans-serif;
  color: white;
  letter-spacing: .07em;
  padding-top: 10px;
  text-transform: uppercase;
  width: 150px;
  height: 70px;
  border-radius: 200px;
  border: #e165e1;
  background-color: #e165e1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#start-btn:hover {
  background-color: white;
  color: #e165e1;
  transition: 0.2s;
  cursor: pointer;
}

.hidden-div {
  display: none;
}

.developer-icons {
  margin-top: 30px;
  
  i {
    font-size: 35px;
    color: #9d7ced;
  }

  i:hover {
    color: #8c55d4;
    transition: 0.3ms;
  }
}