@import 'themeColors';
$theme-font:    verdana, sans-serif;

body {
  background-image: url('http://www.jakpost.travel/imgfiles/full/31/315598/pastel-sky-wallpaper.jpg');
  background-size: cover;
  font-family: 'Pontano Sans', sans-serif;
  margin: 0 auto;
}

.game-container {
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
}

.instructions {
  background-color: rgba(173, 216, 230, 0.7);
  width: 600px;
  height: 700px;
  align-items: center;
  text-align: center;
  color: white;

  h3 {
    font-family: $title-font;
    font-size: 45px;
    letter-spacing: .07em;
    background: red;
    background: -webkit-linear-gradient(left, rgb(255, 207, 49) , rgb(214, 247, 135), rgb(105, 194, 194), rgb(165, 165, 220), rgb(233, 172, 233));
    background: -o-linear-gradient(right, rgb(255, 207, 49) , rgb(214, 247, 135), rgb(105, 194, 194), rgb(165, 165, 220), rgb(233, 172, 233));
    background: -moz-linear-gradient(right, rgb(255, 207, 49) , rgb(214, 247, 135), rgb(105, 194, 194), rgb(165, 165, 220), rgb(233, 172, 233));
    background: linear-gradient(to right, rgb(255, 207, 49) , rgb(214, 247, 135), rgb(105, 194, 194), rgb(165, 165, 220), rgb(233, 172, 233));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
  }

  h4 {
    font-family: $title-font;
    color: #e581ff;
    font-size: 22px;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
  }

  p {
    color: #966ff5;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;

  }
  
  span {
    color: rgb(47, 72, 172);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Luckiest Guy", cursive;
  }

  img {
    width: 30px;
    margin-left: 10%;
    margin-right: 10px;
  }

  #white-cloud {
    width: 40px;
    height: 40px;
    margin-left: 10%;
    margin-right: 0px;
  }

  ul {
    list-style: none;
    text-align: left;

    li {
      color: #966ff5;
    }
  }

}

.arrows {
  font-size: 30px;
  display: inline-block;
  margin: 0px 20px;

  .fab {
    width: 40px;
    height: 40px;
    background-color: black;
    color: blue;
  }
}

#press-start {
  color: white;
}


#canvas {
  margin: 0 auto;
}

.canvas-container {
  width: 1000px;
  height: 700px;
  margin: 0 auto;

  img {
    display: none;
  }
}

#start-btn {
  font-size: 35px;
  font-family: 'Luckiest Guy', sans-serif;
  color: white;
  letter-spacing: .07em;
  padding-top: 10px;
  text-transform: uppercase;
  width: 150px;
  height: 70px;
  border-radius: 200px;
  border: 1px solid pink;
  background-color: lightpink;
}

#start-btn:hover {
  background-color: white;
  color: lightpink;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

.hidden-div {
  display: none;
}

.developer-icons {
  margin-top: 30px;
  
  i {
    font-size: 35px;
    color: #6992de;
  }

  i:hover {
    color: rgba(38, 86, 206, 0.7);
    transition: 0.3ms;
  }
}